services:
  app:
    build:
      context: .
      target: ${LAUNCH_MODE:-dev}
    environment:
      - PORT=${PORT:-8080}
    volumes:
      - ./src:/app/src
      - ./public:/app/public
      - ./index.html:/app/index.html
    ports:
      - ${PORT:-8080}:${PORT:-8080}
    restart: always
    logging:
      driver: json-file
      options:
        max-size: "10m"
        max-file: "5"
