# Global setting for all services
x-services: &service_defaults
  restart: always
  logging:
    driver: json-file
    options:
      max-size: "10m"
      max-file: "5"

services:
  frontend:
    << : *service_defaults
    build:
      context: frontend
      target: ${LAUNCH_MODE:-release}
    environment:
      - PORT=${FRONTEND_PORT}
    volumes:
      - ./frontend/weather-kiosk:/weather-kiosk
      - /weather-kiosk/node_modules
      # - ./frontend/nginx.conf:/etc/nginx/nginx.conf
      # - ./frontend/log:/app/log
    ports:
      - ${FRONTEND_PORT}:${FRONTEND_PORT}

  backend: &backend
    << : *service_defaults
    build:
      context: backend
      target: ${LAUNCH_MODE:-release}
    environment:
      - PORT=${BACKEND_PORT}
    volumes:
      - ./backend/data:/data
      - ./backend/app:/app
    ports:
      - ${BACKEND_PORT}:${BACKEND_PORT}
